# port for the express server
PORT=4000

# mongo uri: can be local or atlas
MONGO_URI=mongodb://127.0.0.1:27017/little-twitter-toy

# session cookie secret
SESSION_SECRET=this_is_top_secret_do_not_touch