/* make the button full size */
.full button {
    width: 100%;
}

.hint {
    margin-top: 1rem;
}

.hint span {
    margin-left: 4px;
    cursor: pointer;
    text-decoration: underline;
}

.form {
    position: relative;
    padding: 20px;
    /* I think the border looks a little bit strange */
    /* border: 2px solid var(--clr-black); */
    border-radius: 50px;
    max-width: 500px;
}
