.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--clr-primary);

    width: 100vw;
    padding: 1rem 10%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer p {
    color: var(--clr-white);
    font-size: 24px;
}

.button-group {
    display: flex;
    gap: 1.5rem;
}

.button-group button {
    border-radius: 50px;
    padding: 0.5rem 1rem;
}
.disable {
    display: none;
}

@media (max-width: 960px) {
    .footer {
        padding: 0.25rem 5%;
    }

    .footer p {
        font-size: 1rem;
    }
}
