.button {
    color: var(--clr-white);
    text-align: center;
    font-weight: 500;
    border-radius: 1rem;

    /* clickable */
    cursor: pointer;
}

.small {
    padding: 0.25rem 1.5rem;
    font-size: 0.75rem;
}

.medium {
    padding: 0.5rem 2.5rem;
    font-size: 1rem;
}

.large {
    padding: 1rem 3rem;
    font-size: 1.5rem;
}

.primary {
    color: var(--clr-white);
    background-color: var(--clr-primary);
}

.secondary {
    color: var(--clr-white);
    background-color: var(--clr-secondary);
}

.danger {
    color: var(--clr-white);
    background-color: var(--clr-danger);
}

.pink {
    color: var(--clr-white);
    background-color: var(--clr-pink);
}

.primary-outlined {
    background-color: var(--clr-white);
    color: var(--clr-primary);
    border: 1px solid var(--clr-primary);
}

.secondary-outlined {
    background-color: var(--clr-white);
    color: var(--clr-secondary);
    border: 1px solid var(--clr-secondary);
}

.danger-outlined {
    background-color: var(--clr-white);
    color: var(--clr-danger);
    border: 1px solid var(--clr-danger);
}

.pink-outlined {
    background-color: var(--clr-white);
    color: var(--clr-pink);
    border: 1px solid var(--clr-pink);
}

.primary:hover {
    background-color: var(--clr-primary-darker);
}

.secondary:hover {
    background-color: var(--clr-secondary-darker);
}

.danger:hover {
    background-color: var(--clr-danger-darker);
}

.pink:hover {
    background-color: var(--clr-pink-darker);
}

.primary-outlined:hover {
    background-color: var(--clr-primary);
    color: var(--clr-white);
}

.secondary-outlined:hover {
    background-color: var(--clr-secondary);
    color: var(--clr-white);
}

.danger-outlined:hover {
    background-color: var(--clr-danger);
    color: var(--clr-white);
}

.pink-outlined:hover {
    background-color: var(--clr-pink);
    color: var(--clr-white);
}
