.tweet {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    /*border: 1px solid #ddd;*/
    padding: 16px 16px 0px 16px;
    border-bottom: 1px solid #e7e5e4;
}

.tweet:hover {
    background-color: #f7f7f7;
    transition: 200ms;
}

.menubutton {
}

a {
    color: black;
}

a:link {
    text-decoration: none;
}

.tweet__header a:hover {
    text-decoration: underline;
}

.tweet__header {
    display: flex;
    justify-content: flex-start;
    align-items: start;
    margin-bottom: 8px;
}
.tweet__headercontainer {
    width: 48px;
    height: 48px;
    margin-right: 8px;
    background-color: #363434;
    border-radius: 50%;
}
.tweet__userinfo {
    display: flex;
    justify-content: flex-start;
}

.tweet__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
    align-items: start;
    padding: 0 8px;
    margin-bottom: 8px;
}

.tweet__avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 8px;
}
.tweet__avatar:hover {
    opacity: 0.8;
    transition: 200ms;
}

.tweet__username {
    font-weight: 600;
    margin-right: 8px;
}

.tweet__uid {
    color: #68757e;
}

.tweet__timestamp {
    color: #999;
}

.tweet__content {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 8px;
}

.tweet__actions {
    font-size: 17px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-self: stretch;
    align-items: center;
}

.tweet__action {
    display: flex;
    align-items: center;
    color: #68757e;
    margin-right: 16px;
}

.tweet__action button {
    padding: 9px;
}

.tweet__title {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
}

.tweet__title button {
    color: #68757e;
}

.comment button:hover,
.share button:hover,
.menubutton button:hover {
    color: #1da1f2;
    background-color: #e3f2fc;
}

.retweet button:hover {
    color: #21c644;
    background-color: #d6f6d6;
}

.like button:hover {
    color: #ea3d6b;
    background-color: #f8dbe2;
}
