.button:hover {
    background-color: rgba(0, 0, 0, 0.24);
}

.button {
    margin-top: 64px;
    border-radius: 20px;

    font-size: 20px;
    font-weight: 500;
    padding: 0.75rem 3.5rem;
    border: none;
    background-color: #00a3df;
    color: #ffffff;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.15);
}
