.container {
    border-top: 1px solid var(--clr-border-grey);
    border-bottom: 1px solid var(--clr-border-grey);

    margin-top: 32px;
    padding: 12px 0px;
}

.small {
    text-transform: capitalize;
    font-size: 14px;
    margin-bottom: 12px;
}

@media (max-width: 960px) {
    .container {
        margin-top: 1rem;
    }
}
