.link {
    display: flex;
    justify-content: start;
    gap: 1rem;
    align-items: center;
    width: auto;

    /* remove the ugly default styling */
    color: #44403c;
    text-decoration: none;
}

.active {
    color: var(--clr-primary);
    /* background-color: rgba(0, 0, 0, 0.24); */
}

.link:hover {
    /* background-color: rgba(0, 0, 0, 0.24); */
    color: var(--clr-primary);
}
