@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap");
/* general */
*,
*::before,
*::after {
    /* use save fonts in case Google fails */
    font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;

    /* reset all spacing and all height and width are border height and width */
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

:root {
    /* primary colour (twitter blue is the main colour of the webpage */
    /* secondary colour is supplmentary */
    --clr-primary: #00acee;
    --clr-secondary: #292524;

    /* use for errors and dangerous actions such as delete */
    --clr-danger: #f43f5e;

    /* a darker variant for main colours */
    --clr-primary-darker: #0891b2;
    --clr-secondary-darker: #1c1917;
    --clr-danger-darker: #be123c;

    /* a lighter variant for main colours */
    --clr-primary-lighter: #7dd3fc;
    --clr-secondary-lighter: #d6d3d1;
    --clr-danger-lighter: #fda4af;

    /* an alias for the colour white (currently "true white") */
    --clr-white: #ffffff;

    /* faint grey colour for borders */
    --clr-border-grey: #cfd9de;

    /* diminished grey for small texts */
    --clr-small-text: #78716c;

    /* the grey colour for texts / input background */
    --clr-text: #44403c;
    --clr-text-lighter: #68757e;
    --clr-text-lightest: #e8eff2;

    /* pink colour? */
    --clr-pink: #d946ef;
    --clr-pink-darker: #a21caf;
    --clr-pink-lighter: #f0abfc;

    /* transparent black */
    --clr-darker-trans-black: rgba(0, 0, 0, 0.19);
    --clr-trans-black: rgba(0, 0, 0, 0.24);
    --clr-lighter-trans-black: rgba(0, 0, 0, 0.3);

    /* an alias for the colour black (currently "true black") */
    --clr-black: #000000;

    --primary-gradient: linear-gradient(
        90.13deg,
        var(--clr-primary) 0.1%,
        rgba(0, 172, 238, 0.75) 92.68%
    );
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
input,
pre,
code,
span,
textarea,
table {
    color: var(--clr-text);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}
.center-h {
    margin: auto;
    width: 200px;
}
.right-h {
    float: right;
    padding: 10px;
    width: 280px;
}
/* log/reg */
button,
#eye,
.label-upload {
    cursor: pointer;
    background-color: var(--clr-white);
    transition-duration: 0.2s;
}

/* homepage */
#hp-foot-log {
    background-color: var(--clr-pink);
    color: var(--clr-white);
    font-size: 18px;
}
#hp-foot-reg {
    background-color: var(--clr-white);
    font-size: 18px;
}
#hp-foot-log:hover {
    background-color: var(--clr-white);
    color: var(--clr-pink);
}
#hp-foot-reg:hover {
    background-color: var(--clr-black);
    color: var(--clr-white);
}

.hp-rest {
    float: right;
    width: 300px;
    height: 100%;
}
.hp-logout {
    position: relative;
    cursor: pointer;
    user-select: none;
    float: right;
}
.hp-logout .hp-logout-text {
    visibility: hidden;
    width: 160px;
    box-shadow: 0 12px 16px 0 var(--clr-trans-black),
        0 17px 50px 0 var(--clr-lighter-trans-black);
    background-color: var(--clr-white);
    color: var(--clr-danger);
    text-align: center;
    border-radius: 16px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -80px;
}
.hp-logout-text:hover {
    background-color: var(--clr-danger);
    color: var(--clr-white);
}
.hp-logout .show {
    visibility: visible;
}
.hp-search {
    padding: 10px;
    padding-right: 25px;
}
label {
    color: #68757e;
}
.hp-search-box {
    background-color: rgba(217, 228, 234, 0.42);
    font-size: 16px;
    border-radius: 30px;
    border: 1px solid #cfd9de;
    padding: 10px 20px;
    margin-left: 10px;
    width: 100%;
}
.hp-search-box-oninput {
    font-size: 16px;
    border-radius: 30px;
    border: 1px solid var(--clr-primary);
    padding: 10px 20px;
    margin-left: 10px;
    width: 100%;
    background-color: #fff;
}
.hp-search-box-oninput label {
    color: var(--clr-primary);
}
.hp-search-text {
    font-size: 16px;
    margin-left: 10px;
    background-color: transparent;
    border: none;
    width: 80%;
    outline: none;
}
.hp-search-button {
    position: absolute;
    top: 14px;
    right: 32px;
    border: none;
    border-radius: 100%;
    background-color: transparent;
    font-size: 24px;
    padding: 0px 0px;
    height: 24px;
}
.hp-search-button:hover {
    background-color: var(--clr-trans-black);
    box-shadow: none;
}
.hp-search-tab {
    width: 100%;
}
.hp-search-tab button {
    width: 50%;
    font-size: 18px;
    border: none;
    float: left;
    background-color: var(--clr-white);
}
.hp-search-tab button:hover {
    background-color: var(--clr-lighter-trans-black);
}
.hp-search-tab button.hp-search-active {
    background-color: var(--clr-trans-black);
    font-weight: bold;
}
.hp-search-con {
    display: none;
}
.hp-search-con-active {
    display: block;
}
.hp-bm-info {
    font-size: 22px;
    font-weight: bold;
    padding: 10px 20px;
}
.hp-tweet-item {
    background-color: var(--clr-white);
    text-align: center;
}
