@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap");
/* general */
*,
*::before,
*::after {
    /* use save fonts in case Google fails */
    font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;

    /* reset all spacing and all height and width are border height and width */
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

:root {
    /* primary colour (twitter blue is the main colour of the webpage */
    /* secondary colour is supplmentary */
    --clr-primary: #00acee;
    --clr-secondary: #292524;

    /* use for errors and dangerous actions such as delete */
    --clr-danger: #f43f5e;

    /* an alias for the colour white (currently "true white") */
    --clr-white: #ffffff;

    /* faint grey colour for borders */
    --clr-border-grey: #cfd9de;

    /* diminished grey for small texts */
    --clr-small-text: #78716c;

    /* the grey colour for texts */
    --clr-text: #44403c;
    --clr-text-lighter: #68757e;

    /* pink colour? */
    --clr-pink: #c100d3;

    /* transparent black */
    --clr-darker-trans-black: rgba(0, 0, 0, 0.19);
    --clr-trans-black: rgba(0, 0, 0, 0.24);
    --clr-lighter-trans-black: rgba(0, 0, 0, 0.3);

    /* an alias for the colour black (currently "true black") */
    --clr-black: #000000;
}

.row {
    width: 100%;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}
.center-h {
    margin: auto;
    width: 200px;
}
.right-h {
    float: right;
    padding: 10px;
    width: 280px;
}
.user-icon {
    border-radius: 50%;
}
/* log/reg */
button,
#eye,
.label-upload {
    cursor: pointer;
    background-color: var(--clr-white);
    transition-duration: 0.2s;
}

button:hover,
.label-upload:hover {
    /*
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    */
    background-color: var(--clr-trans-black);
}

.log-form {
    position: relative;
    padding: 20px;
    border: 2px solid var(--clr-black);
    border-radius: 50px;
    width: 500px;
}
.log-form .log-box {
    position: relative;
    margin: auto;
    padding: 20px;
}

.log-form #log {
    border-radius: 50px;
    width: 100%;
    background-color: var(--clr-white);
    font-size: 24px;
}
.log-form .log-box label {
    position: absolute;
    left: 30px;
    top: 18px;
    transform: translateY(15px);
    pointer-events: none;
    font-family: "Poppins";
    font-size: 24px;
    transition: 0.25s;
}
.log-form .log-box #eye {
    position: absolute;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    font-size: 33px;
    top: 16px;
    right: 30px;
    transform: translateY(15px);
}
.log-form .log-box #eye:hover,
.log-form .log-box #log:hover {
    background-color: var(--clr-trans-black);
}
.log-form input {
    width: 95%;
    font-size: 24px;
    padding: 15px 10px 10px 10px;
    outline: none;
}
.log-form input:focus {
    border: 3px solid var(--clr-pink);
}
.log-form input:focus ~ .log-form label {
    color: var(--clr-pink);
}
.log-form input:focus ~ label,
.log-form input:not(:placeholder-shown) ~ label {
    transform: scale(0.6) translateX(-32%) translateY(-24%);
}

/* homepage */
.hp-foot {
    position: sticky;
    bottom: 0px;
    background-color: var(--clr-primary);
    color: var(--clr-white);
    width: auto;
    height: auto;
    font-size: 24px;
    padding: 10px 0px;
    padding-left: 30px;
}

.hp-foot button {
    float: right;
    margin: 0px 10px;
    border-radius: 50px;
    border: none;
    width: auto;
    font-size: 24px;
}
#hp-foot-log {
    background-color: var(--clr-pink);
    color: var(--clr-white);
}
#hp-foot-reg {
    background-color: var(--clr-white);
}
#hp-foot-log:hover {
    background-color: var(--clr-white);
    color: var(--clr-pink);
}
#hp-foot-reg:hover {
    background-color: var(--clr-black);
    color: var(--clr-white);
}

.hp-rest {
    float: right;
    width: 300px;
    height: 100%;
}
.hp-logout {
    position: relative;
    cursor: pointer;
    user-select: none;
    float: right;
}
.hp-logout .hp-logout-text {
    visibility: hidden;
    width: 160px;
    box-shadow: 0 12px 16px 0 var(--clr-trans-black),
        0 17px 50px 0 var(--clr-lighter-trans-black);
    background-color: var(--clr-white);
    color: var(--clr-danger);
    text-align: center;
    border-radius: 16px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -80px;
}
.hp-logout-text:hover {
    background-color: var(--clr-danger);
    color: var(--clr-white);
}
.hp-logout .show {
    visibility: visible;
}
.hp-search {
    padding: 10px;
    padding-right: 25px;
}
.hp-search-box {
    font-size: 24px;
    border-radius: 30px;
    padding-left: 10px;
    width: 100%;
}
.hp-search-button {
    position: absolute;
    top: 14px;
    right: 32px;
    border: none;
    border-radius: 100%;
    background-color: transparent;
    font-size: 24px;
    padding: 0px 0px;
    height: 24px;
}
.hp-search-button:hover {
    background-color: var(--clr-trans-black);
    box-shadow: none;
}
.hp-search-tab {
    width: 100%;
}
.hp-search-tab button {
    width: 50%;
    font-size: 18px;
    border: none;
    float: left;
    background-color: var(--clr-white);
}
.hp-search-tab button:hover {
    background-color: var(--clr-lighter-trans-black);
}
.hp-search-tab button.hp-search-active {
    background-color: var(--clr-trans-black);
    font-weight: bold;
}
.hp-search-con {
    display: none;
}
.hp-search-con-active {
    display: block;
}
.hp-bm-info {
    font-size: 36px;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.15);
}
.hp-addtw,
.hp-log,
.hp-reg {
    display: none;
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
}
.hp-log-h {
    min-height: 500px;
}
.hp-reg-h {
    min-height: 600px;
}
.hp-addtw-box {
    display: block;
    background-color: var(--clr-white);
    border-radius: 20px;
    padding: 20px;
    width: 500px;
    min-height: 200px;
}
.hp-log-box,
.hp-reg-box {
    display: block;
    background-color: var(--clr-white);
    border-radius: 20px;
    padding: 20px;
    width: 600px;
    height: 500px;
}
.hp-reg-box {
    height: auto;
}
.hp-popup-close {
    background-color: transparent;
    float: left;
    font-size: 18px;
    padding: 0px;
    width: 24px;
    height: 24px;
    border: none;
    border-radius: 50%;
}
#hp-addtw-close:hover {
    background-color: var(--clr-trans-black);
    border: none;
    border-radius: 50%;
}
#hp-addtw-title {
    float: left;
    font-size: 18px;
    padding-left: 10px;
}
#hp-addtw-icon {
    width: 30px;
    transform: translateY(15px);
    position: absolute;
}
#hp-addtw-con {
    resize: none;
    width: 420px;
    margin: 15px 25px;
    transform: translateX(30px);
    min-height: 100px;
    max-height: 300px;
    border: none;
}
#hp-addtw-sub {
    float: right;
    font-size: 18px;
    border: none;
    border-radius: 24px;
    background-color: var(--clr-primary);
    color: var(--clr-white);
}
#hp-addtw-sub:hover {
    background-color: var(--clr-white);
    color: var(--clr-primary);
}
#hp-addtw-file {
    display: none;
}
#hp-addtw-file-label {
    font-size: 18px;
    width: 28px;
    height: 28px;
    border-radius: 28px;
    padding: 5px;
}
#hp-addtw-file-des {
    font-size: 18px;
    color: var(--clr-danger);
}
.hp-tweet-item {
    margin: auto;
    background-color: var(--clr-white);
    text-align: center;
}
