.title {
    font-size: 22px;
    font-weight: bold;
    padding: 10px 20px;
    border-bottom: 1px solid #e7e5e4;
}
.message {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 16px;
    border-bottom: 1px solid #e7e5e4;
}